@model List<Gamedya.Models.NewsViewWeb>
@using Gamedya.Helper
@{ Layout = null;}

<div class="col-md-7">
    <div class="feature_news_carousel">
        <div id="featured-news-carousal" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active feature_news_item">
                    <div class="item_wrapper">
                        <div class="item_img">
                            <img class="img-responsive" src="@Model.First().TinyImagePath" alt="@Model.First().Title">
                        </div> <!--item_img-->
                        <div class="item_title_date">
                            <div class="news_item_title">
                                <h2><a href="single.html">@Model.First().Title.ToUpper()</a></h2>
                            </div>
                            <div class="item_meta"><a href="#">@Model.First().Date.ToShortDateString()</a> by:<a href="#"> Yazar adı gelecek</a>
                            </div>

                        </div> <!--item_title_date-->
                    </div>	<!--item_wrapper-->
                    <div class="item_content">
                        @Model.First().Summary
                    </div>

                </div>
                <!--feature_news_item-->

                @for (int i = 1; i < Model.Count(); i++)
                {
                    <div class="item feature_news_item">
                        <div class="item_wrapper">
                            <div class="item_img">
                                <img class="img-responsive" src="@Model[i].TinyImagePath" alt="Chania">
                            </div> <!--item_img-->
                            <div class="item_title_date">
                                <div class="news_item_title">
                                    <h2><a href="#">@Subs.Sub(Model[i].Title,30).ToUpper()</a></h2>
                                </div>
                                <div class="item_meta"><a href="#">@Model[i].Date.ToShortDateString()</a> by:<a href="#"> Yazar adı gelecek</a></div>
                            </div> <!--item_title_date-->
                        </div> <!--item_wrapper-->

                        <div class="item_content">
                           @Subs.Sub(Model[i].Summary,150)
                        </div>

                    </div>

                }

                <!--feature_news_item-->
                <!-- Left and right controls -->
                <div class="control-wrapper">
                    <a class="left carousel-control" href="#featured-news-carousal" role="button" data-slide="prev">
                        <i class="fa fa-chevron-left" aria-hidden="true"></i>
                    </a>
                    <a class="right carousel-control" href="#featured-news-carousal" role="button" data-slide="next">
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </a>
                </div>
            </div><!--carousel-inner-->
        </div><!--carousel-->
    </div><!--feature_news_carousel-->
</div><!--col-md-6-->
