@model IEnumerable<Entites.Models.NewsModels.News>

@{ Layout = "~/Views/Shared/_Layout.cshtml";}

<div class="container " style="margin-top:50px;">
    <div class="col-md-9 ">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-6">

                    <div class="feature_news_item">
                        <div class="item">
                            <hr />
                            <div class="item_wrapper">
                                <div class="item_img">
                                    <a href="@Url.Action("Details", "NewsDetails",new {id=item.Id})"> <img class="img-responsive" src="@item.TinyImagePath" alt="@item.Title"></a>
                                </div> <!--item_img-->
                                <div class="item_title_date">
                                    <div class="news_item_title">
                                        <h2><a href="@Url.Action("Details", "NewsDetails",new {id=item.Id})">@item.Title</a></h2>
                                    </div>
                                    <div class="item_meta"><a href="@Url.Action("Details", "NewsDetails",new {id=item.Id})">@item.Date.ToLongDateString()</a></div>
                                </div><!--item_title_date-->
                            </div> <!--item_wrapper-->
                            <div class="item_content">
                                <a href="@Url.Action("Details", "NewsDetails",new {id=item.Id})"> @item.Summary</a>   
                            </div>

                        </div><!--item-->
                    </div><!--feature_news_item-->

                </div><!--col-md-6-->
            }


        </div><!--row-->
    </div>
    <div class="col-md-3">
        @Html.Action("GetLatestNews", "LatestNews")

        @Html.Action("MostComment", "MostCommentNews")
    </div>
</div>

