@model Entites.Models.ForumModels.ForumCategory

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Forum Kategorisi Ekle</h3>
    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="text-danger">
            @ViewBag.Message
        </div>
        <!-- form start -->
        <form role="form">
            <div class="box-body">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.CategoryName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.CategoryName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CategoryName, "", new { @class = "text-danger" })
                    </div>
                </div>
                
                <div class="form-group">

                    @Html.Label("Anasayfada görünecek ikon için ikonun class'ını buraya yapıştırın", htmlAttributes: new { @class = "control-label col-md-8" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Üst Kategori", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-12">
                        @Html.DropDownList("ParentId", null, "Seçiniz", htmlAttributes: new { @class = "form-control" })

                        @Html.ValidationMessageFor(model => model.ParentId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10" style="margin-top:10px;">
                        <input type="submit" value="Kategori Oluştur" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </form>
    }

</div>
@Html.ActionLink("Listeye Geri Dön", "Index")
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
