@model Gamedya.Models.IndexViewModel
@using Gamedya.Helper
@{
    ViewBag.Title = "Manage";
}
<div class="login-form11">
    <div class="panel-body" style="background-color:#ff6102;">
        <h2 class="text-center">Hesap Ayarları</h2>
        <div class="container">


            <p class="text-success">@ViewBag.StatusMessage</p>
            <div>
                <dl class="dl-horizontal">
                    <dt>
                        <img src="@User.GetUserImage()" class="img-circle align-content-center" alt="User Image" style="height:100px;">
                    </dt>
                    <dd>
                        @Html.ActionLink("Mesajlarım", "MyMessages", "Message")
                        <br />
                        <hr />
                        @Html.ActionLink("Bildirimlerim", "UserNotification", "Notification")

                    </dd>
                </dl>
                <hr />
                <dl class="dl-horizontal">
                    <dt>Şifre:</dt>
                    <dd>

                        @if (Model.HasPassword)
                        {
                            @Html.ActionLink("Şifreni değiştir", "ChangePassword")
                        }
                        else
                        {
                            @Html.ActionLink("Şifre belirle", "SetPassword")
                        }

                    </dd>
                    <hr />
                    <dt>Profil resmi:</dt>
                    <dd>

                        @if (Model.HasProfilImage)
                        {
                            @Html.ActionLink("Profil resmini değiştir", "SetProfilImage")
                        }
                        else
                        {
                            @Html.ActionLink("Profil resmi ekle", "SetProfilImage")
                        }

                    </dd>
                    <hr />

                    <dl>
                        <dt>
                        </dt>
                        <dd>
                            <a class="btn " href="@Url.Action("BloggerBlogs","Blog",new {userId=User.GetUserId()})">Bloglarım</a>

                        </dd>
                    </dl>
                    <hr />
                    @if (Model.IsMailPublic)
                    {
                        <dt>Mail adresimi<br> gizle</dt>
                        <dd>
                            <input title="Diğer kullanıcılardan mesaj almak istemiyorsanız mail adresinizi gizleyin" onclick="ChangeMailStatus()" type="checkbox" />
                        </dd>
                    }
                    else
                    {
                        <dt>Mail adresimi <br>herkese görünür yap</dt>
                        <dd>
                            <input title="Diğer kullanıcılardan mesaj alabilmek için mail adresinizi görünür yapın" onclick="ChangeMailStatus()" type="checkbox" />
                        </dd>
                    }


                    @*<dt>External Logins:</dt>
                        <dd>
                            @Model.Logins.Count [
                            @Html.ActionLink("Manage", "ManageLogins") ]
                        </dd>*@
                    @*
                        Phone Numbers can used as a second factor of verification in a two-factor authentication system.

                         See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                            for details on setting up this ASP.NET application to support two-factor authentication using SMS.

                         Uncomment the following block after you have set up two-factor authentication
                    *@
                    @*
                        <dt>Phone Number:</dt>
                        <dd>
                            @(Model.PhoneNumber ?? "None")
                            @if (Model.PhoneNumber != null)
                            {
                                <br />
                                <text>[&nbsp;&nbsp;@Html.ActionLink("Change", "AddPhoneNumber")&nbsp;&nbsp;]</text>
                                using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <text>[<input type="submit" value="Remove" class="btn-link" />]</text>
                                }
                            }
                            else
                            {
                                <text>[&nbsp;&nbsp;@Html.ActionLink("Add", "AddPhoneNumber")
                            }
                        </dd>
                    *@
                    @*<dt>Two-Factor Authentication:</dt>
                        <dd>
                            <p>
                                There are no two-factor authentication providers configured. See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                                for details on setting up this ASP.NET application to support two-factor authentication.
                            </p>*@
                    @*@if (Model.TwoFactor)
                        {
                            using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <text>Enabled
                                <input type="submit" value="Disable" class="btn btn-link" />
                                </text>
                            }
                        }
                        else
                        {
                            using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <text>Disabled
                                <input type="submit" value="Enable" class="btn btn-link" />
                                </text>
                            }
                        }*@
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/Global.js"></script>
}