@model IEnumerable<Entites.Models.ForumModels.ForumReply>
@using Gamedya.Helper


@foreach (var item in Model)
{


    <div class=" container">
        <div class="col-md-2">
            <div class="panel">
                <div class="panel-danger">


                    <div class="text-center" style="margin-top:10px;">
                        <img src="@User.GetUserImage()" class="img-circle align-content-center" alt="User Image" style="height:80px;">

                        <ul style="margin-top:20px; margin-bottom:auto">
                            <li>
                                @Html.DisplayNameFor(model => model.NewsUser.FullName)
                            </li>
                            <hr />
                            <li>
                                @Html.DisplayFor(model => item.NewsUser.FullName)
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-10">
            <div class="panel">
                <div class="panel-danger">


                    <td>
                        @Html.DisplayFor(modelItem => item.Content)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LikeCount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UnLikeCount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsOk)
                    </td>
                </div>
            </div>
        </div>
    </div>
        }




