@model Entites.Models.BlogModels.BlogPost
@using GameAdmin.Helper
@{
    ViewBag.Title = "Blog Detayları";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="box box-primary">
    <div class="box-body box-profile">
        <h3 class="profile-username text-center">@ViewBag.Title</h3>

        <dt>
            @Html.DisplayNameFor(model => model.TinyImagePath)
        </dt>

        <dd>
            <img src="@Html.DisplayFor(model => model.TinyImagePath)" style="height:100px">
        </dd>


        <ul class="list-group list-group-unbordered">

            <li class="list-group-item">
                <dt>
                    @Html.DisplayNameFor(model => model.BlogCategory.CategoryName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.BlogCategory.CategoryName)
                </dd>
            </li>

            <li class="list-group-item">
                <dt>
                    @Html.DisplayNameFor(model => model.Title)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Title)
                </dd>

            </li>
            <li class="list-group-item">
                <dt>
                    @Html.DisplayNameFor(model => model.Summary)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Summary)
                </dd>
            </li>

            <li class="list-group-item">
                <dt>
                    @Html.DisplayNameFor(model => model.Content)
                </dt>

                <dd>
                    @Html.Raw(Model.Content)
                </dd>

            </li>

            <li class="list-group-item">
                <dt>
                    @Html.DisplayNameFor(model => model.Date)
                </dt>

                <dd>
                    @Model.Date.ToString()
                </dd>

            </li>
            <li class="list-group-item">

                <dt>
                    @Html.DisplayNameFor(model => model.EditDate)
                </dt>

                <dd>
                    @Model.EditDate.ToString()
                </dd>
            </li>



            <li class="list-group-item">
                <dt>
                    @Html.DisplayNameFor(model => model.ViewCount)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ViewCount)
                </dd>
            </li>
        </ul>
    </div>

</div>


@if (Model.IsOk == false)
{
    @Html.ActionLink("Listeye Dön", "IsNotOks") <d> | </d>

    @Html.ActionLink("Sil", "Delete", new { id = Model.Id }) <d>  |  </d> 

    <a class="btn btn-success" onclick="ApproveBlog(@Model.Id)"> Onayla</a>
    <div id="successMessage" style="color:green"></div>
    <div id="failMessage" style="color:red"></div>
    <script src="~/Scripts/BlogScripts.js"></script>

}
else
{
    @Html.ActionLink("Listeye Dön", "Index") <d> | </d>


    if (Model.BlogComments != null && Model.BlogComments.Count() > 0)
    {
        <a href="@Url.Action("Index", "BlogComments", new { id = Model.Id})">Blog Yorumları</a>
        <span class="label label-primary">@Model.BlogComments.Count().ToString()</span><d> |</d>
    }
    else
    {<d>Haber Yorumları | </d>}
    if (Model.NewsUserId == User.GetUserId())
    {
        @Html.ActionLink("Düzenle", "Edit", new { id = Model.Id })
    }
}

