@model IEnumerable<Entites.Models.NewsModels.NewsComment>
<h2>Yorumlar</h2>


@foreach (var item in Model)
{

    <h5> @Html.DisplayFor(modelItem => item.GuestName)</h5>
    @Html.DisplayFor(modelItem => item.Content) <br />

    <p onclick="AddLike(@item.Id)" class="fa fa-heart">@item.LikeCount.ToString() </p>
    <p onclick="AddUnLike(@item.Id)" class="fa fa-heartbeat"> @item.UnLikeCount.ToString()</p>
    <br />
    <p style="font-size:10px"> @Html.DisplayFor(modelItem => item.Date)</p>
    <br />

}