@model IEnumerable<Gamedya.Models.NewsViewWeb>

<div class="tab sitebar" >
    <ul class="nav nav-tabs">
        <li class="active"><a href="#1" data-toggle="tab">Son Haberler</a></li>
        <li  ><a href="#2" data-toggle="tab">Popülerler</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="1">

            @foreach (var item in Model)
            {
                <div class="media">
                    <div class="media-left" >
                        <a href="@Url.Action("Details", "News",new {id=item.GenerateSlug()})"><img class="media-object" src="@item.TinyImagePath" style="height:60px"></a>
                    </div><!--media-left-->
                    <div class="media-body">
                        <h4 class="media-heading"><a href="@Url.Action("Details", "News",new {id=item.GenerateSlug()})">@item.Title</a></h4>
                        <span class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-full"></i>
                        </span>
                    </div><!--media-body-->
                </div><!--media-->

            }

        </div><!--tab-pane-->

        <div class="tab-pane" id="2">
            @Html.Action("GetPopularNews", "LatestNews")
        </div><!--tab-pane-->
    </div><!--tab-content-->
</div><!--tab-->
