@model IEnumerable<Entites.Models.NewsModels.News>

@{ Layout = null;}
<div class="container">
    <div class="col-md-9">

        <div class="row">
            @foreach (var item in Model)
            {

                <div class="col-md-6">
                    <div class="feature_news_item">
                        <div class="item">
                            <div class="item_wrapper">
                                <div class="item_img">
                                    <img class="img-responsive" src="@item.TinyImagePath" alt="@item.Title">
                                </div> <!--item_img-->
                                <div class="item_title_date">
                                    <div class="news_item_title">
                                        <h2><a href="single.html">@item.Title</a></h2>
                                    </div>
                                    <div class="item_meta"><a href="#">@item.Date.ToString()</a> by:<a href="#">@item</a></div>
                                </div><!--item_title_date-->
                            </div> <!--item_wrapper-->
                            <div class="item_content">
                                @item.Summary
                            </div>

                        </div><!--item-->
                    </div><!--feature_news_item-->
                </div><!--col-md-6-->
            }

        </div><!--row-->
    </div>
    <div class="col-md-3">
        @Html.Action("GetLatestNews", "LatestNews")

        @Html.Action("MostComment", "MostCommentNews")
    </div>
</div>