@using Gamedya.Models
@model LoginViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<div class="login-form11">
    <div class="panel-body" style="background-color:#000000;">

        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })


            <div class="form-group">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Mail Adresiniz" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })

            </div>

            <div class="form-group">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Şifre" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

            </div>

            <div class="row">
                <div class="col-xs-8">
                    <div class="checkbox icheck">
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.LabelFor(m => m.RememberMe, "Beni Hatırla")
                    </div>
                </div>
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-warning btn-block btn-flat">Giriş Yap</button>
                </div>
            </div>


            <div class="row">
                <div class="col-xs-8">
                    <hr />
                    @Html.ActionLink("Şifremi Unuttum", "ForgotPassword", null, new { @class = "btn btn-primary btn-sm btn-flat" })

                </div>
                <hr />
                <div class="col-xs-4">
                    @Html.ActionLink("Yeni Kayıt Ol", "Register", null, new { @class = "btn btn-primary btn-sm btn-flat" })
                </div>
            </div>
        }
    </div>
    <!-- /.login-box-body -->

</div>

