@model Gamedya.Models.RegisterViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<div class="login-form11">
    <div class="panel-body">
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary("", new { @class = "text-danger" })

            <div class="form-group">
                @Html.TextBoxFor(m => m.FullName, new { @class = "form-control", placeholder = "Ad Soyad" })
            </div>


            <div class="form-group">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Mail" })
            </div>

            <div class="form-group">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Şifre" })
            </div>


            <div class="form-group">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Şifre Tekrar" })
            </div>

            <div class="icheck-primary">
                <input type="checkbox" id="agreeTerms" name="terms" value="agree">
                <label for="agreeTerms">
                    <a href="#">Üyelik Sözleşmesi</a> Şartlarını Okudum Kabul Ediyorum.
                </label>
            </div>


            <div class="form-group" style="margin-top:20px;">
                <div class="justify-content-center">
                    <input type="submit" class="btn btn-warning  btn-block" value="Kayıt Ol" />
                </div>
            </div>

        }

        <div class="card">
            <div class="card-body register-card-body text-center">
                <div class="social-auth-links text-center">
                    <a href="#" class="btn btn-block btn-primary">
                        <i class="fa fa-facebook mr-2"></i>
                        Facebook ile kaydol
                    </a>
                    <a href="#" class="btn btn-block btn-danger">
                        <i class="fa fa-google-plus mr-2"></i>
                        Google+ ile kaydol
                    </a>

                    @Html.ActionLink("Zaten bir üyeliğim var", "Login", null, new { @class = "btn btn-block btn-success" })

                </div>

             

            </div>
            <!-- /.form-box -->
        </div><!-- /.card -->

    </div>
</div>


   



