@model IEnumerable<Entities.Models.Notification>

@{
    ViewBag.Title = "UserNotification";
}

    <div class="container">
        <h2>Bildirimler</h2>


        @*Aşağıdaki tablonun "tr" tagleri alttaki scriptle ilişkilidir. Değişiklik yaparken dikkat ediniz*@

        <br />
        <hr />

        <table class="table">


            @foreach (var item in Model)
            {
                if (item.IsRead == true)
                {
                    <tr style="border-bottom:solid;border-color:#E0EEEE; color:gray">

                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Content)
                        </td>
                        <td>
                            <a href="@Url.Action("Details", new { id = item.Id })" class="btn btn-primary"> bildirime git   </a>


                            <a class="btn btn-danger" data-id="@item.Id">sil</a>
                        </td>

                    </tr>
                }

                else
                {
                    <tr style="border-bottom:solid;border-color:#E0EEEE;font-weight:bold">

                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Content)
                        </td>
                        <td>
                            <a href="@Url.Action("Details", new { id = item.Id })" class="btn btn-primary"> bildirime git   </a>

                            <a class="btn btn-danger" data-id="@item.Id">sil</a>
                        </td>

                    </tr>
                }
            }
        </table>
    </div>


@section scripts{
    <script type="text/javascript">
        $(document).on("click", ".btn-danger", function () {
            var confirmDelete = confirm("silmek istediğinize emin misiniz?");
            //silinecek "tr" satırı
            if (confirmDelete) {
                var delTr = $(this).parent().parent();
                var id = $(this).attr("data-id");
                $.ajax({
                    url: '/notification/DeleteMyNotif/' + id,
                    type: 'POST',
                    success: function (result) {
                        if (result == true) {
                            delTr.fadeOut(800, function () {
                                delTr.remove();
                            })
                        }
                        else { alert(result) }
                    }

                });
            }

        })

    </script>

}

