@model IEnumerable<Gamedya.Models.NewsViewWeb>


    <div class="most_comment">
        <div class="sidebar_title text-center">
            <h2>En Çok Yorumlananlar</h2>
        </div>
        @foreach (var item in Model)
        {
            <div class="media">
                <div class="media-left"style="height:60px">
                    <a href="@Url.Action("Details", "News",new {id=item.GenerateSlug()})"><img class="media-object" src="@item.TinyImagePath" style="height:60px" ></a>
                </div><!--media-left-->
                <div class="media-body">
                    <h3 class="media-heading"><a href="@Url.Action("Details", "News",new {id=item.GenerateSlug()})">@item.Title</a></h3>
                    <div class="comment_box">
                        <div class="comments_icon" > <i class="fa fa-comments" aria-hidden="true"></i></div>
                        <div class="comments"><a href="#">@item.CommentCount</a></div>
                    </div><!--comment_box-->
                </div><!--media-body-->
            </div><!--media-->

        }

    </div><!--most_comment-->
