@model Entites.Models.MessageModels.GamedyaMessage

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    
        <div class="container">

            <h2>Mesaj Detayı</h2>

            <div>

                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Content)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Content)
                    </dd>

                    <dt>
                        Gönderen
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.NewsUser.FullName)
                    </dd>


                    <dt>
                        @Html.DisplayNameFor(model => model.Date)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Date)
                    </dd>



                </dl>
            </div>
            <p>
                @Html.ActionLink("Back to List", "MyMessages")
            </p>

        </div>
        @section scripts{
            <script>
           
                $.ajax({
                    url: '/Message/MessageRead/',
                    data: { id: @Model.Id },
                    type: 'POST',
                    dataType: 'json'

                });
            

            </script>
        }
