@model Entites.Models.MessageModels.GamedyaMessage
@{Layout = null;}
<h4>Message</h4>
<hr />
<div class="form-group">
    @Html.Label("alıcı", htmlAttributes: new { @class = "control-label col-md-2" })
    <div>
        <p class="control-label col-md-1">@Model.ReceiverName </p>
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.TextAreaFor(model => model.Content, new { @class = "form-control",style= "border:ridge" })
        @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
    </div>
</div>
@Html.HiddenFor(model => model.MessageRecipientId)
@Html.HiddenFor(model => model.ReceiverName)


<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Gönder" class="btn btn-default" />
    </div>
</div>


