@model IEnumerable<Entites.Models.UserModels.NewsUser>

@{
    ViewBag.Title = "Kullanıcılar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="box">
    <div class="box-header">
    </div>
    <div>
       

       
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
            <p class="pull-left">
                @{ string[] classes = { "btn btn-success", "btn btn-primary",
                        "btn btn-info", "btn btn-default","btn btn-warning" };
                    int i = 0;

                    foreach (var item in ViewBag.Roles)
                    {
                        if (i == 5)
                        {
                            i = 0;
                        }
                        string name = item.Name + " listele";

                        <a onclick="UsersByRole('@item.Id')" class="@classes[i]">@name</a>
                        i++;
                    }
                    <a onclick="UsersWithOutRole()" class="btn btn-danger">Rolsüzler</a>

                }
                <div id="deneme"> </div>

            </p>
            <div id="example1_filter" class="dataTables_filter pull-right">
                <label>Arama: <input type="search" class="form-control input-sm" placeholder="" aria-controls="example1"></label>
            </div>           
        </div>
        <div id="byRole">
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.FullName)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.UserName)
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FullName)
                                </td>


                                <td>
                                    @Html.DisplayFor(modelItem => item.UserName)
                                </td>
                                <td>
                                    @Html.ActionLink("Düzenle", "Edit", new { id = item.Id }) |
                                    @Html.ActionLink("Detaylar", "Details", new { id = item.Id }) |
                                    @Html.ActionLink("Sil", "Delete", new { id = item.Id })
                                </td>
                            </tr>
                        }
                        <tfoot>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.FullName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.UserName)
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>

        </div>
    </div>

</div>
<script src="~/Scripts/Global.js"></script>