@model Entites.Models.ForumModels.ForumPost
@using Gamedya.Helper

<div class=" container">
    <div class="col-md-2">
        <div class="panel">
            <div class="panel-danger">


                <div class="text-center" style="margin-top:10px;">
                    <img src="@User.GetUserImage()" class="img-circle align-content-center" alt="User Image" style="height:80px;">

                    <ul style="margin-top:20px; margin-bottom:auto">
                        <li>
                            @Html.DisplayNameFor(model => model.NewsUser.FullName)
                        </li>
                        <hr />
                        <li>
                            @Html.DisplayFor(model => model.NewsUser.FullName)
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>

    <div class="col-md-10">
        <div class="panel">
            <div class="panel-danger">

                <div>
                    <dl class="text-center" style="margin-top:20px;">

                        <dd>
                            @Html.DisplayFor(model => model.ForumTitle)
                        </dd>
                    </dl>
                    <hr />
                    <dl class="dl-horizontal">

                        <dt>
                            @Html.DisplayNameFor(model => model.Date)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Date)
                        </dd>
                        <hr />

                        <dt>
                            @Html.DisplayNameFor(model => model.Content)
                        </dt>

                        <dd>
                            @Html.Raw(@Model.Content)
                        </dd>
                        <dd>
                            @Model.ViewCount
                        </dd>
                    </dl>
                </div>
            </div>
        </div>

    </div>
</div>

<p>
    @Html.Action("Index", "ForumReply", new { id = Model.Id })
</p>


<div class="container">


    <div class="panel">
        <div class="panel-danger">
            <div class="panel-title"><h2>Hızlı Cevap Ver</h2></div>
            <div style="color:coral" id="back">
            </div>

            <div class="comment_form">
                <form>
                    <div class="form-group">

                            <p>@User.GetFullName()</p>                       
                    </div>

                    <div class="form-group comment">
                        @Html.TextAreaFor(model => model.Content, new { id = "comment", @class = "ckeditor" })

                    </div>
                    <button type="button" onclick="AddComment(@Model.Id)" onmouseout="ClearMesajBack()" class="btn btn-submit red"> Cevabı Gönder </button>
                </form>
            </div><!--comment_form-->
        </div><!--add_a_comment-->
    </div><!--single_content_layout-->
</div>

@section scripts{
    @*sayfayı ziyaret edenlerin sayısını ekle*@
    <script>

                $.ajax({
                    url: '/Forum/ForumRead/',
                    data: { id: @Model.Id },
                    type: 'POST',
                    dataType: 'json'

                });

    </script>
    <script src="~/Scripts/ForumScript.js"></script>
}

