@model IEnumerable<Gamedya.Models.ForumViewModel>
@using Gamedya.Helper


<table class="table">
    <tr>
        <th>
            Gönderenin ismi
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ForumTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ViewCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <th>
                <img src="@User.GetUserImage()" class="img-circle align-content-center" alt="User Image" style="height:30px;">
            </th>

            <td>
                <a href="@Url.Action("Details", "Forum",new {id=item.GenerateSlug()})">     @Html.DisplayFor(modelItem => item.ForumTitle) </a>
            </td>

            <td>
                @item.ViewCount
            </td>

            <td>
                <a href="@Url.Action("Details", "Forum",new {id=item.GenerateSlug()})">     @item.Date.ToShortDateString()</a>
            <td>

            <td>
                <a href="@Url.Action("Details", "Forum",new {id=item.Id})">    @Html.DisplayFor(modelItem => item.CategoryName)</a>
            </td>

        </tr>
    }

</table>

